header {
    /*margin-top: 9rem;*/
    padding-top: 9rem;
    text-align: center;
    /*margin-bottom: 9rem;*/
    padding-bottom: 9rem;
}

table {
    width: 100%;
}

.container {
    max-width: 800px; }
.docs-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: "Avenir Next Condensed","Monaco", sans-serif;
    letter-spacing: .2rem;
    font-weight: 600; }
.docs-section {
    border-top: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;}
.profile-img {
    /*width: 90%;*/
    /*margin: 2.5rem auto 0;
    margin-bottom: 2.5rem;*/
}
.u-nobottom {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }

  .subtitle {
      padding-bottom: 1.5rem;
      /*text-align: center;*/
  }

  .allcaps {
      text-transform: uppercase;
      letter-spacing: .1rem;
  }

  th {
      font-weight: 600;
  }
  .divided-column {
      margin-bottom: 0;
  }

.navbar {}

  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 0px;
    /*border-bottom: 1px solid #eee; */
}
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
}
  .navbar-item {
    position: relative;
    /*float: right;*/
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    /*padding: 10px;*/
    /*margin-left: 7px;
    margin-right: 7px;*/
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
.navbar-link.active {
    color: #33C3F0; }


.content-list {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
}

.p-group {
    margin-bottom: 1.5rem;
}

.overlay {
   /*text-align: center;
   margin-top: 10%;*/

}

.placeholder {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
}

.project-img {
    max-height: 240px;
    max-width: 300px;
}

#jelly-thumb {
        max-width: 120px;

}

#capstone-thumb {
    max-width: 360px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #33C3F0; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0 12px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}


#jellyheader {
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9d3b5+0,218dc6+50,00a2aa+100 */
    background: #a9d3b5; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a9d3b5 0%, #218dc6 50%, #00a2aa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a9d3b5 0%,#218dc6 50%,#00a2aa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a9d3b5 0%,#218dc6 50%,#00a2aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9d3b5', endColorstr='#00a2aa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#parasolheader {
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fa8c5f+0,fac85a+100 */
    background: #fa8c5f; /* Old browsers */
    background: -moz-linear-gradient(top, #fa8c5f 0%, #fac85a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fa8c5f 0%,#fac85a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fa8c5f 0%,#fac85a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa8c5f', endColorstr='#fac85a',GradientType=0 ); /* IE6-9 */
}

#infxheader {
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49a5bf+0,75bdd1+59,93cede+100 */
    background: #49a5bf; /* Old browsers */
    background: -moz-linear-gradient(top, #49a5bf 0%, #75bdd1 59%, #93cede 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #49a5bf 0%,#75bdd1 59%,#93cede 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #49a5bf 0%,#75bdd1 59%,#93cede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#93cede',GradientType=0 ); /* IE6-9 */
}

#sketchheader {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8e+0,a5c956+100;Green+3D+%232 */
    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}

#prototypeheader {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,f9b300+100 */
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top, #fceabb 0%, #f9b300 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fceabb 0%,#f9b300 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fceabb 0%,#f9b300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f9b300',GradientType=0 ); /* IE6-9 */
}

#capstoneheader {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7f7f+0,fcaeae+100 */
background: rgb(255,127,127); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,127,127,1) 0%, rgba(252,174,174,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,127,127,1) 0%,rgba(252,174,174,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,127,127,1) 0%,rgba(252,174,174,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f7f', endColorstr='#fcaeae',GradientType=0 ); /* IE6-9 */
}

a {
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    text-decoration: none;
}



.project-item {
     /*margin-top: 4%;*/
     margin-bottom: 4%;
}

.project-item {
    /*margin-top: 1rem;*/
}



/* PORTFOLIO HOVER EFFECT */

.project-name {
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 2rem;
}

.project-sub {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
}

.photo-sub {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.hovereffect {
    /*margin: 0;*/
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: default;
    background: #fff; }


.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s; fade-in-out 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.overlay:hover { opacity: 0.9; }

.hovereffect img {
    position: relative;
    width: 100%;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.hovereffect:hover img { opacity: 0.2; }

.hovereffect .placeholder {
    position: relative;
    width: 100%;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.hovereffect:hover .placeholder { opacity: 0.2; }




/* Larger than phone */
@media (min-width: 550px) {
    .divided-column {
        margin-bottom: 2.5rem;
    }
  header {
    padding-top: 18rem;
    padding-bottom: 12rem;
    /*width: 90%;
    margin-left: 5%;*/
  }
  .docs-section {
    padding: 6rem 0; }

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  float: right;
}
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-left: 20px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222; }


 }


/* Larger than tablet */
@media (min-width: 750px) {

table {
    /*width: 80%;*/
}

header {
    width: 90%;
    margin-left: 5%;
}

.placeholder {
    height: 350px;

}

.project-img {
    max-height: 280px;
    max-width: 350px;
}
#jelly-thumb
{
        max-width: 140px;

}

  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 0px solid #eee;
    /*border-bottom: 1px solid #eee; */
}
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: right;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-left: 20px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
}
